
div{
	padding: 0px;
	margin: 0px;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#calculator{
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#inputs1,
#inputs2{
	display: flex;
	width: 85px;
	flex-wrap: wrap-reverse;
	gap: 5px;
}

#inputs1 .btn:first-child,
#inputs2 .btn:first-child{
	width: 100px;
}

.btn{
	width: 25px;
	background: black;
	padding: 5px 5px;
	border: none;
	color: white;
	text: center;
}

.btn:hover{
	background: white;
	padding: 4px 4px;
	border: solid black 1px;
	color: black;
}

.btn:active{
	color: black;
	background: black;
}


#number1,
#number2,
#result{
	padding: 8px;
	width: 100px;
	text-align: center;
	border: solid black 1px;
	color: white;
	background: black;
}

#result{
	width: 150px;
}


#options{
	display: flex;
	width: 177px;
	align-items: center;
	gap: 15px;
}





